@font-face {
    font-family: 'Myfont';
    src: url(font/Norse-Bold.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container, .logo{
    display: flex;
    flex-flow: row wrap;
}

.container {
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
}

.left, .rightside {
    border: 1px solid black;
}

.left {
    background: url(img/Wallpaper.jpg) no-repeat center center/cover;
    width: 40%;
    height: 100%;
}

.logo {
    border: 1px solid black;
    background: rgba(85, 85, 85, 0.3);
    position: relative;
    top: 20%;
    width: 100%;
    height: 20%;
}

.png{
    height: 60%;


}

.rightside{
    width: 60%;
    height: 100%;
}



